*script*
.idea*

# pdm toolchain
.pdm-build
.pdm-python
pdm.lock
.pdm-build/

# node.js
node_modules/

docs/.vitepress/dist
docs/.vitepress/cache

litedoc/

docs/zh/api/
docs/zht/api/
docs/en/api/
docs/ja/api/

# litedoc
mkdoc_normal.bat
mkdoc_exp.bat